<div class="row">
  <div class="col-md-3 left-sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action disabled">
        Examples
      </a>
      <a routerLink="/datepicker" routerLinkActive="active" class="list-group-item list-group-item-action">Date picker</a>
      <a routerLink="/datetimepicker" routerLinkActive="active" class="list-group-item list-group-item-action">Date Time picker</a>
      <a routerLink="/simpledatepicker" routerLinkActive="active" class="list-group-item list-group-item-action">Simple</a>
      <a routerLink="/datetimepickerlocalized" routerLinkActive="active" class="list-group-item list-group-item-action">Date Time picker localized</a>
      <a routerLink="/matdatetimepicker" routerLinkActive="active" class="list-group-item list-group-item-action">Material Date Time picker</a>
      <a routerLink="/datepickercolored" routerLinkActive="active" class="list-group-item list-group-item-action">Colored Date picker</a>
    </div>
  </div>
  <div class="col center-content">
    <router-outlet></router-outlet>
  </div>
</div>
